@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }
  
  @mixin mobile() {
      @media screen and (min-width:300px) and (max-width:540px){
        @content;
      }
  }